<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body>
  <h1>About</h1>
    
  <%- include('./partials/nav.ejs')  %> 
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis necessitatibus illo iste repellat, repudiandae provident ullam assumenda laborum quod error, veritatis mollitia? Dicta reprehenderit inventore sint quis repudiandae, quam provident.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis necessitatibus illo iste repellat, repudiandae provident ullam assumenda laborum quod error, veritatis mollitia? Dicta reprehenderit inventore sint quis repudiandae, quam provident.</p>
<%- include('./partials/footer.ejs')  %> 
</body>
</html>